<!DOCTYPE html>
        <html lang="en">

        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <link rel="icon" href="https://iag=o-suarez.com/favicon.ico">
            <meta name="viewport" content="width=device=-width,initial-scale=1,shrink-to-fit=no">
            <meta name="theme-color" content="#000000">
            <meta name="description" content="Web site created usi=ng create-react-app">
            <link rel="apple-touch-icon" href="https://iago-su=arez.com/logo192.png">
            <link rel="manifest" href="https://iago-suarez.co=m/manifest.json">
            <title> NanWu Bai Website</title>
            <link href="./static/styles/style.css" rel="stylesheet">
            <!-- <link href="./page2.css" rel="stylesheet"> -->
        </head>=

        <body class="bg-light">
            <div id="root">
                <div class="App"><br>
                    <div class="container">
                        <div class="mx-auto text-center">
                            <h2>HAWP: Holistically Attracted Wireframe Parsing</h2>
                            <h5>
                                <!-- <a href="https://doi.org/10.1016/j.patcog.2022.10=8619" class="link-dark"
                                    target="_blank" rel="noreferrer"> -->
                        </div>
                        <div class="row text-center">
                            <div class="col-sm">
                                <u>
                                <p>Nan Xue, Tianfu Wu, Song Bai, Fu-Dong Wang, Gui-Song Xia, Liangpei Zhang, Philip H.S. Torr</p>
                                <a href="https://arxiv.org/pdf/2003.01663.pdf"
                                    target="_blank" rel="noreferrer">
                                    <div>Paper Download Link</div>
                                </u>
                            </div>
                            <!-- <div class="col-sm"><u>=
                                    <a href="https://jmbuena.github.io/" class="text-dark link-dark"
                                        target="_blank" rel="noreferrer">Jos=C3=A9 Miguel
                                        Buenaposada</a></u><br>Univ=
                                ersidad Rey Juan Carlos</div>
                            <div class="col-sm"><u><a href="http://www=.dia.fi.upm.es/~lbaumela/" class="text-dark
                                        link-dark" target="_blank" rel="noreferrer">Luis
                                        Baumela</a></u><br>Universidad Polit=C3=A9cnica de Madrid</div> -->
                        </div>
                        <!-- <div class="row text-center">
                            <div class="col-4">
                                <a href="https://arxiv.org/pdf/2210.12971.pdf"
                                    target="_blank" rel="noreferrer">
                                    <div>Paper</div>
                                    <div= class="medium-icon social-icon"><svg
                                            xmlns="http://www.w3.org/2000/svg=" viewBox=" 0 0 16 16" width="1em"
                                            height="1em" fill="currentColor">=
                                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063
                                                3.11=2.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828=zm7.5-.141c.654-.689
                                                1.782-.886 3.112-.752 1.234.124 2.503.523
                                                3.388.893v9.=923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8=1.783C7.015.936
                                                5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0=0 0 0
                                                2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142
                                                2.=59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877
                                                1.378.139=2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0
                                                0-.293-.455c-.952-.433-2=.48-.952-3.994-1.105C10.413.809 8.985.936 8
                                                1.783z"></path>
                                        </svg>
                            </div></a>
                        </div> -->
                        <!-- <div class="col-4"><a href="https://github.com/iago-suarez/ELSED" target="_blank"
                                rel="noreferrer">
                                <div>Source Code (C++)</div>
                                <div class="medium-icon social-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor">
                                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47
                                            7.59.4.07.55-.17.55-.38=0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.=28-.15-.68-.52-.01-.53.63-.01
                                            1.08.58 1.23.82.72 1.21 1.87.87
                                            2.33.66.07-.5=2.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95
                                            0-.87.31-1.59.82-2.15-.08-.2-.3=6-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18
                                            1.32-.27 2-.27.68 0 1.36.09 2 .27=1.53-1.04 2.2-.82 2.2-.82.44 1.1.16
                                            1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.=07-1.87 3.75-3.65
                                            3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15=.46.55.38A8.012
                                            8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                                            </path>
                                    </svg></div>
                                </a=>
                        </div> -->
                        <div class="col-4"><a
                                href="https://colab.research.google.com/gi=thub/iago-suarez/ELSED/blob/main/Python_ELSED.ipynb"
                                target="_blank" rel="noreferrer">
                                <div class="medium-icon social-icon"></div>
                            </a></div>
                        </di= v><br>
                        <div><img class="w-100"
                                src="./static/images/header.jpg">
                        </div><br><br>
                        <div>
                            <h3>Online Demo </h3>
                                <div class="blue-shadow card p-3 mb-5 bg-wh=ite rounded">
                                    <!-- <iframe class="mw-100"
                                        width="110%" height="520"
                                        src="=cid:frame-1D8AE069ECE1F30BC639BE2EB14BA846@mhtml.blink" title="ELSED
                                        Onli=ne demo" frameborder="0"> -->
                                        <div id="main">
                                            <div id="left">
                                                <!-- <form action="" method="post" enctype="multipart/form-data">
                                                    <h2>Upload an Image</h2>
                                                    <input type="file" name="file" id="image-upload">
                                                    <button type="submit" name="submit">Upload</button>
                                                </form>   -->
                                                <!-- To create a dynamic upload -->
                                                 <form method="POST" enctype="multipart/form-data">
                                                    {{form.hidden_tag()}}
                                                    {{form.file()}}
                                                    {{form.submit()}}
                                                 </form>>
                                                <!-- <img src="#"  id="uploaded-image"> -->
                                                  
                                            </div>
                                            <div id="right">
                                                <h2>Download Processed Image</h2>
                                                <a href="{{url_for('download_file')}}">Download</a>
                                            </div>
                                              
                                        </div>
                                    <!-- </iframe> -->
                                    </div>
                        </div><br>
                        <div>
                        <h1>Real-time WireFrame Display</h1>
                        <img src="{{ url_for('video_feed') }}" ></div><br>
                        <!-- <div>
                            <h3>Video Figure 4=
                            </h3>
                            <p>This videos shows the drawing process of the image in Figure 4 of t=
                                he paper.</p>
                            <ul class="list-group">
                                <li class="list-group-item"><b>Left=
                                    </b>: We show the image gradient magnitude in the background. ELSED fits a =
                                    segment during drawing. The pixels of the current segment are drawn in <spa= n
                                        class="color-blue">blue</span> and the infinite line fitted to them in =
                                        <span class="color-green">green</span>. Already visited pixels appear in =
                                        <span class="color-magenta">magenta</span>.</li>
                                <li class="list-group-i=tem"><b>Right</b>: Under black background, we can see the
                                    pixels of the seg=
                                    ments in <span class="color-green">green</span>, the discontinuities in<s= pan
                                        class="color-gray"> gray</span>, and outlier pixels (fleetingly when =
                                        the direction turns) in <span class="color-orange">orange</span>.</li>
                                </u= l><br>
                                <div class="text-center"><iframe class="mw-100" width="960" height="540"
                                        src="cid:frame-5457B745594EE935BC076D27E3255E4A@mhtml.blink" title="YouTube
                                        video player" frameborder="0" allow="accelerometer; au=toplay;
                                        clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen=""></iframe></div>
                        </div> -->
                        <div class="card">
                            <div class="card-body bg-middle-gray">
                                <h4>Abstract</h4>
                                <p class="text-justify">This paper presents a fast and parsimonious parsing
                                    method to accurately and robustly detect a vectorized wireframe in an input image with a single forward pass. The
                                    proposed method is end-to-end trainable, consisting of three
                                    components: (i) line segment and junction proposal generation, (ii) line segment and junction matching, and (iii)
                                    line segment and junction verification. For computing line
                                    segment proposals, a novel exact dual representation is proposed which exploits a parsimonious geometric reparameterization for line segments and forms a holistic 4-dimensional
                                    attraction field map for an input image. Junctions can be
                                    treated as the “basins” in the attraction field. The proposed method is thus called Holistically-Attracted Wireframe
                                    Parser (HAWP). In experiments, the proposed method is
                                    tested on two benchmarks, the Wireframe dataset  and
                                    the YorkUrban dataset . On both benchmarks, it obtains
                                    state-of-the-art performance in terms of accuracy and efficiency. For example, on the Wireframe dataset, compared
                                    to the previous state-of-the-art method L-CNN , it improves the challenging mean structural average precision
                                    (msAP) by a large margin (2.8% absolute improvements),
                                    and achieves 29.5 FPS on single GPU (89% relative improvement). A systematic ablation study is performed to
                                    further justify the proposed method.
                                    </p>
                            </div>
                        </div><br>
                        <div>
                            <!-- <h4>Citation</h4>
                            <div class="card="><div class=" card-body code-like-font">@article{suarez2022elsed,
                                <br>&nb=
                                sp; title={ELSED: Enhanced Line SEgment Drawing}, <br>&nbsp; author=
                                ={Su{\'a}rez, Iago and Buenaposada, Jos{\'e} M and Baumela, Luis}, <br>&n=
                                bsp; journal={Pattern Recognition},
                                <br>&nbsp; volume={127},
                                <br>&nbsp; pages={108619},
                                <br>&nbsp; year={2022},
                                <br>&nbsp; issn={0031-3203},
                                <br>&nbsp; doi={https://doi.org/10.1016/j.patcog.2022.108619},
                                <br>&nbsp; url={https://www.sciencedirect.com/science/article/pii/S003=
                                1320322001005}
                                <br>} -->
                            </div>
                        </div>
                    </div>
                </div><br>
            </div>
            </div>
        </body>

        </html>